services:
  - type: web
    name: newrest-worker-bot
    env: node
    plan: free
    envVars:
      - key: NODE_VERSION
        value: "20"
      - key: NODE_ENV
        value: production
      - key: BOT_TOKEN
        sync: false
      - key: WEBHOOK_URL
        sync: false
      - key: ADMIN_GROUP_ID
        sync: false
      - key: GOOGLE_SHEETS_ID
        sync: false
      - key: GOOGLE_SERVICE_ACCOUNT_PATH
        value: /etc/secrets/newrest-465515-64b89bbce530.json
      - key: FORCE_REBUILD
        value: "true"
    buildCommand: npm install && npm run build
    startCommand: npm start
    healthCheckPath: /health
    autoDeploy: true
